body{
	font-family: Arial, Verdana, sans-serif;}
h1,h2{color: #ee380;}
p{color:#665544;}
h3.apple {
	color:rgb(100,100,221);

}
h3{background-color: #B9C8C8;}
td {background-color:#999999;
padding: 15px;}